.other_btn {
    max-width: 400px;
    background-color: #6fdc6f;
    color: #fff;

    &:hover {
        color: #fff;
    }
}

.alert_btn {
    display: block;
    background-color: #f15555;
    color: #fff;
    margin: 10px 0;
}
