/************************************
COLORS
************************************/
$blue: #4867aa;
$blue_hover: rgba($blue, .7);
$red: #ea4335;
$red_hover: rgba($red, .7);
$link: #00CC7C;
$link_hover: rgba($link, .7);
$grey: #ebebeb;
$text_color: #535353;

/************************************
GENERAL
************************************/
h1, h2, h3, h4, h5, h6,
p, li, span, a,
input, label, button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: $text_color;
}

html {
    background-color: $grey;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100% !important;
    }
}

#error {
    color: $red;
}

#imageNotify {
    color: $link;
}

.hide {
    display: none;
}
