<div id="chat_container">

    <p class="{{editClass}}" ng-click="toggleRemove()"><i class="fa fa-trash-o" aria-hidden="true"></i></p>

    <div id="chat_wrap">
        <div id="chat_messages">
            <ul>
                <li ng-repeat="message in messages | orderBy: 'timeStamp'">
                    <span class="remove" ng-click="deleteMessage(message)" ng-show="showRemove"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <span class="from">{{message.username}}</span>
                    <span class="date">{{message.timeStamp | date:'h:mm a'}}</span>
                    <span class="msg">{{message.text}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="alertMessages">
        <p ng-show="deleteAlert" class="deleteAlert"><span>Message deleted forever!</span></p>
    </div>

    {{userID}} | {{alias}} | {{newMessage}}
    <form ng-submit="addMessage(newMessage,userID,alias)">
        <input type="text" class="u-full-width" ng-model="newMessage" placeholder="Type message here..." /><br />
        <button type="submit" class="u-full-width button-primary">Send</button> <br />
    </form>

</div>
