<div id="header">
    <div class="header_img" ng-show="showProfileImage">
        <img ng-src="{{imageSrc}}" id="profileImg" />
    </div>
    <div class="header_name">
        <h1>{{alias}}</h1>
    </div>
</div>

<div class="row">
    <button class="button one-half column">Add Group</button>
    <button class="button one-half column" ng-click="modalClick()">Friends</button>
</div>

<div class="modal users_modal" ng-hide="hideModal">
    <ul>
        <li ng-repeat="user in users" ng-if="user.uid != currentUID">
            {{user.username}}
        </li>
    </ul>
</div>

<div class="edit_profile profile_section hide">
    <h1>Add Profile Picture</h1>
    <p id="imageNotify"></p>
    <div class="file_upload_wrap">
        <progress value="0" max="100" id="fileProgress"></progress>
        <input type="file" id="fileBtn" />
    </div>
    <button class="alert_btn delete_propic" ng-click="deleteProPic()">Delete ProPic</button>
</div>

<div class="groups profile_section">
    <h1>My Groups</h1>
    <ul class="groups_listing">
        <li class="group new_group"><i class="fa fa-plus" aria-hidden="true"></i><span>New Group</span></li>
        <li class="group">
            <span>New Group</span>
        </li>
    </ul>
</div>

<div class="modal new_group_modal hide">
    <h2>New Group</h2>
    <form>
        <input type="text" ng-model="groupName" placeholder="Group Name" class="u-full-width" /><br />
        <select class="group_friends" ng-model="friends">
            <option value="">Name</option>
        </select><br />
        <input type="submit" value="Create Group" class="button-primary u-full-width" />
    </form>
</div>


<button ng-click="signOut()" class="alert_btn sign_out">Signout</button>
