<div class="row form_wrap">

    <div class="column twelve">
        <h1>How you doin - Joey from Friends</h1>
        <p id="error"></p>
        <form ng-submit="createUser()">
            <input type="text" ng-model="name" placeholder="Full Name" class="u-full-width" /><br />
            <input type="text" ng-model="username" placeholder="Username" class="u-full-width" /><br />
            <input type="text" ng-model="email" placeholder="Email" class="u-full-width" /><br />
            <input type="text" ng-model="password" placeholder="Password" class="u-full-width" /><br />
            <button type="submit" class="positive_btn u-full-width">Sign Up</button>
        </form>

        <p><a href="#/" class="link">Login</a></p>
    </div>
</div>
