<div class="modal users_modal" ng-hide="hideFriendModal">
    <div class="modal_content">
        <button ng-click="friendModalClick()"><i class="fa fa-times" aria-hidden="true"></i></button>
        <input type="text" ng-model="search_friend" placeholder="Search Friends" />
        <ul>
            <li ng-repeat="user in users | filter:search_friend" ng-if="user.uid != currentUID">
                <span class="friend_pic">
                    <img ng-src="{{user.image}}" alt="{{user.username}}" />
                </span>
                <span class="friend_username">{{user.username}}</span>
            </li>
        </ul>
    </div>
</div>
