<div class="modal new_group_modal" ng-hide="hideGroupModal">
    <div class="modal_content modal_lg">
        <button class="alert_btn close_modal" ng-click="groupModalClick()"><i class="fa fa-times" aria-hidden="true"></i></button>
        <h4>New Group</h4>
        <form>
            <input type="text" id="groupName" placeholder="Group Name" class="u-full-width" /><br />

            <ul class="added_friends">
                <li ng-repeat="friend in friendsToAdd">{{friend}}</li>
            </ul>

            <div class="group_friends">
                <input type="text" ng-model="search_friend" placeholder="Search Friends" />
                <ul>
                    <li ng-repeat="user in users | filter:search_friend" ng-if="user.uid != currentUID">
                        <span class="friend_pic">
                            <img ng-src="{{user.image}}" alt="{{user.username}}" />
                        </span>
                        <span class="friend_username">{{user.username}}</span>
                        <button class="add_btn" ng-click="addToGroup(user.username)">Add +</button>
                    </li>
                </ul>
            </div>
            <button type="submit" ng-click="createGroup()" class="positive_btn u-full-width create_group_btn">Create Group</button>
        </form>
    </div>
</div>
